body, html{
  margin: 0;
  background-color: black;
  background-image: url('https://wallpapertag.com/wallpaper/full/c/4/8/121773-club-background-3500x2000-download-free.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.obscurity{
  background-color: black;
  
  position: absolute;
  left:     0;
  right:    0;
  
  height: 100%;
  width: 100%; 
  
  opacity: 0.7;
  
  z-index: 1;
}

div.links{
  background-color: grey;
  position: relative;
  top: 10%;

  opacity: 0.4;
  
  z-index: 2;
  
  border-radius: 50px 0px 0px 50px;
  
  width: 95%;
  height: 75;
  
  vertical-align: center;
  
  margin-left: auto;
  margin-right: auto;
}

div.content{
  background-color: grey;
  position: relative;
  top: 12%;

  opacity: 0.4;
  
  z-index: 2;
  
  width: 95%;
  height: 75%;
  
  margin-left: auto;
  margin-right: auto;
}

div.logoContainer{
  position: absolute;
  
  display: inline-block;
  float: left;

  width: 325;
  height: 150;
  
  top: 10%;
  left: 1%;
  margin-top: -17;

  overflow: display;  
  
  z-index: 3;
}

img.logo{
  position: relative;
  display: inline-block;
  
  width: 244;
  height: 113;
}